---
- name: restart docker service
  ansible.builtin.systemd:
    name: docker
    state: restarted
    daemon_reload: yes
    enabled: yes

- name: reload docker
  ansible.builtin.systemd:
    name: docker
    state: reloaded
