---
- name: Provision infrastructure layer
  hosts: webservers
  become: yes
  gather_facts: yes
  
  pre_tasks:
    - name: Show start message
      ansible.builtin.debug:
        msg: "Starting system provisioning at {{ ansible_date_time.iso8601 }}"

  roles:
    - common
    - docker

  post_tasks:
    - name: Gather system facts after provisioning
      ansible.builtin.setup:
        gather_subset: all

    - name: Display system info
      ansible.builtin.debug:
        msg:
          - "Hostname: {{ ansible_hostname }}"
          - "OS: {{ ansible_distribution }} {{ ansible_distribution_version }}"
          - "Kernel: {{ ansible_kernel }}"
          - "Memory: {{ ansible_memtotal_mb }} MB"
          - "CPU: {{ ansible_processor_cores }} cores"
